/*************************************************************************
* SIGN UP PAGE CSS STARTS HERE
**************************************************************************/
form {
  @include border(16px, solid, 5px, $button-color);
  margin-top: 5.5rem;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 50vw;
  height: auto;
  font-family: $font1;
  color: $base-color;

  input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 35px 0;
    display: inline-block;
    @include border(16px, solid, auto, $button-color);
    background-color: $background-color;
  }

  label {
    font-family: $font2;
    color: $header-color;
  }

  .break {
    margin-bottom: 1rem;
  }

  .hdr1 {
    font-family: $font1;
    color: #3964FA;
  }

  .registerbtn {
    display: flex;
    justify-content: center;
    border-color: $background-color;
    color: $background-color;
    background-color: $button-color;
    padding-top: .5rem;
    @include button($width: 500px, $mtop: 1rem);
  }

  .registerbtn:hover {
    opacity: 0.9;
  }

  .signin {
    margin-top: 1rem;
    text-align: center;
  }

  .terms {
    margin: 1rem;
    margin-left: 0rem;
  }

  .slabel {
    margin-top: 1rem;
  }
}

/*************************
  * First section of content
  **************************/
.top {
  background: $background-color;
  height: 490px;
  width: 100%;
  display: flex;
  justify-content: center;

  .desc1 {
    width: 437px;
    height: 107px;
    left: 94px;
    top: 169px;
    flex-direction: column;
    line-height: 50px;
  }

  .hdrButton {
    border-color: $button-color;
    color: $background-color;
    background-color: $button-color;
    text-decoration: none;
    @include button($width: 339px);
  }

  .hhdr {
    font-family: $font2;
    font-size: 48px;
    color: $header-color;
  }

  .phdr {
    font-family: $font1;
    line-height: 30px;
    font-size: 18px;
    color: $base-color;
    width: 437px;
    height: 99px;
    left: 94px;
    top: 299px;
    margin-top: 2rem;
    font-weight: 400;
  }

  .hdrImg {
    margin: 0 -99px;
  }
}


/***********
  * Footer Row
  ************/
footer {
  margin-top: 9rem;
  background: $button-color;
  height: 490px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;

  .desc6 {
    margin-top: 7rem;
    flex-direction: column;
  }

  .ftrButton {
    border-color: $background-color;
    color: $background-color;
    background-color: $button-color;
    @include button($width: 280px);
  }

  .hftr {
    font-family: $font2;
    font-size: 42px;
    color: $background-color;
  }

  .pftr {
    font-family: $font1;
    margin-top: 2rem;
    font-size: 18px;
    color: $background-color;
    height: 75px;
    width: 366px;
    line-height: 30px;
  }
}

.privacy {
  color: $base-color;
  font-family: $font1;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 5rem;
  text-decoration: underline;
}