/*******
* COLORS
********/
$base-color: #79706E;
$header-color: #2A0E05;
$background-color: #ffffff;
$button-color: #FB7852;

/*******
* FONTS
*******/
$font1: 'Open Sans', sans-serif;
$font2: 'Nunito Sans', sans-serif;

/***********
* 5 MIXIN's
***********/
@mixin button($bradius: 16px, $bwidth: 3px, $bstyle: solid, $width: 13px, $height: 48px, $fsize: 18px, $mtop: 2rem, $cursor: pointer, $fontfam: $font1){
    border-radius: $bradius;
    border-width: $bwidth;
    border-style: $bstyle;
    width: $width;
    height: $height;
    font-size: $fsize;
    margin-top: $mtop;
    cursor: $cursor;
    font-family: $fontfam;
}
@mixin paragraphs($fontfam: $font1, $mtop: 2rem, $talign: center, $width: 0px, $height: 0px, $left: 0px, $top: 0px, $fsize: 18px, $lheight: 30px, $color: $base-color){
    font-family: $fontfam;
    margin-top: $mtop;
    text-align: $talign;
    width: $width;
    height: $height;
    left: $left;
    top: $top;
    font-size: $fsize;
    line-height: $lheight;
    color: $color;
}
@mixin headers($talign: center, $width: 0px, $height: 0px, $left: 0px, $top: 0px, $fontfam: $font2, $fsize: 38px, $lheight: 50px, $color: $header-color){
    font-family: $fontfam;
    text-align: $talign;
    width: $width;
    height: $height;
    left: $left;
    top: $top;
    font-size: $fsize;
    line-height: $lheight;
    color: $color;
}
@mixin mids($bground, $width, $height, $left, $top, $mtop, $mbottom){
    background: $bground;
    width: $width;
    height: $height;
    left: $left;
    top: $top;
    margin-top: $mtop;
    margin-bottom: $mbottom;
}
@mixin border($radius, $style, $width, $bcolor){
    border-radius: $radius;
    border-style: $style;
    border-width: $width;
    border-color: $bcolor;
}