@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
body {
  background-color: #181818;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.search {
  position: relative;
  margin-top: 5rem;
  margin-right: 6rem;
}

.search input {
  height: 32px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  border-radius: 50px;
  background-color: #242424;
}

.search input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #595959;
}

.search .fa-search {
  color: #999999;
  position: absolute;
  top: 7px;
  left: 16px;
}

.logo {
  margin-top: 2rem;
}

.account {
  color: #999999;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 14px;
  margin-top: 5rem;
}

.account a {
  color: #999999;
  text-decoration: none;
  /* no underline */
}

.account a:hover {
  color: white;
}

.account .shp-crt {
  padding-left: 1rem;
  font-size: 1.5rem;
}

.account .acctitm {
  padding-left: 2rem;
}

.navbar {
  background-color: #242424;
  height: 42px;
  font-weight: bold;
}

.navbar .nav-item {
  padding-left: 2rem;
}

.navbar .nav-link {
  color: #FFFFFF;
  width: 106px;
  text-align: center;
}

.navbar .nav-link:hover {
  color: #999999;
}

.navbar .nav-link.active {
  background-color: #F16535;
  height: 100%;
}

.carousel {
  margin: 0 auto;
  margin-top: 3rem;
  width: 1177px;
  height: 537.6px;
  margin-bottom: 5rem;
}

.breaker {
  background-color: #F16535;
  height: 40px;
  width: 1177px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.shpbrkr {
  padding-top: 9px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
}

.midcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.midcontent .midright {
  margin-left: 1rem;
}

.midhero {
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 1177px;
  height: 537.6px;
}

.ftrhero {
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 1177px;
  height: 394px;
}

.ftrnav {
  color: white;
  background-color: transparent;
  height: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

.dropdown-menu {
  background-color: #F16535;
  color: white;
}

.dropdown-menu .dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: white;
  color: #F16535;
}

.dark-mode {
  background-color: white;
  color: #F16535;
}

.dark-mode .account {
  color: #F16535;
}

.dark-mode .account a {
  color: #F16535;
}

.dark-mode .account a:hover {
  color: #242424;
}

.dark-mode .search input {
  border: 2px solid white;
  background-color: #F16535;
}

.dark-mode .search input:focus {
  border: 2px solid #F16535;
}

.dark-mode .search .fa-search {
  color: white;
}

.dark-mode .ftrnav .nav-item .nav-link {
  color: #F16535;
  background-color: transparent;
}

body {
  background-color: #181818;
  font-family: Roboto;
  overflow-x: hidden;
}

.search {
  position: relative;
  margin-top: 5rem;
  margin-right: 6rem;
}

.search input {
  height: 32px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  border-radius: 50px;
  background-color: #242424;
}

.search input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #595959;
}

.search .fa-search {
  color: #999999;
  position: absolute;
  top: 7px;
  left: 16px;
}

.logo {
  margin-top: 2rem;
}

.account {
  color: #999999;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 14px;
  margin-top: 5rem;
}

.account a {
  color: #999999;
  text-decoration: none;
  /* no underline */
}

.account a:hover {
  color: white;
}

.account .shp-crt {
  padding-left: 1rem;
  font-size: 1.5rem;
}

.account .acctitm {
  padding-left: 2rem;
}

.navbar {
  background-color: #242424;
  height: 42px;
  font-weight: bold;
}

.navbar .nav-item {
  padding-left: 2rem;
}

.navbar .nav-link {
  color: #FFFFFF;
  width: 106px;
  text-align: center;
}

.navbar .nav-link:hover {
  color: #999999;
}

.navbar .nav-link.active {
  background-color: #F16535;
  height: 100%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.breaker {
  background-color: #F16535;
  height: 40px;
  width: 1177px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.shpbrkr {
  padding-top: 9px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
}

.midcontent {
  text-align: center;
}

.costumes {
  margin-bottom: 3rem;
}

.shpimgs {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  border: 0px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.shopbtn {
  background-color: #F16535;
  color: white;
  padding: 3px;
  margin-top: .5rem;
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  border: 0px;
  font-weight: 400;
}

.shopbtn:hover {
  background-color: white;
  color: #F16535;
}

.orngbar {
  height: 5px;
}

.midhero {
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 1177px;
  height: 537.6px;
}

.ftrhero {
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 1177px;
  height: 394px;
}

.ftrnav {
  color: white;
  background-color: transparent;
  height: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  text-align: center;
  padding: 2px 16px;
  background-color: #F16535;
  color: white;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #181818;
}

.mcontent {
  text-align: center;
  color: white;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #F16535;
  color: white;
}

.mimages {
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.cstcap {
  text-align: center;
  margin-left: 2rem;
  margin-top: .7rem;
}

.mimages:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.cstfig {
  margin-top: .3rem;
  margin-right: 45%;
}

.dark-mode {
  background-color: white;
  color: #F16535;
}

.dark-mode .account {
  color: #F16535;
}

.dark-mode .account a {
  color: #F16535;
}

.dark-mode .account a:hover {
  color: #242424;
}

.dark-mode .search input {
  border: 2px solid white;
  background-color: #F16535;
}

.dark-mode .search input:focus {
  border: 2px solid #F16535;
}

.dark-mode .search .fa-search {
  color: white;
}

.dark-mode .ftrnav .nav-item .nav-link {
  color: #F16535;
  background-color: transparent;
}

.dark-mode .modal-header {
  background-color: #F16535;
  color: white;
}

.dark-mode .modal-body {
  background-color: white;
}

.dark-mode .mcontent {
  color: #242424;
}

.dark-mode .mimages {
  border: 1px solid #242424;
}

body {
  background-color: #181818;
  font-family: Roboto;
  overflow-x: hidden;
}

.search {
  position: relative;
  margin-top: 5rem;
  margin-right: 6rem;
}

.search input {
  height: 32px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  border-radius: 50px;
  background-color: #242424;
}

.search input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #595959;
}

.search .fa-search {
  color: #999999;
  position: absolute;
  top: 7px;
  left: 16px;
}

.logo {
  margin-top: 2rem;
}

.account {
  color: #999999;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 14px;
  margin-top: 5rem;
}

.account a {
  color: #999999;
  text-decoration: none;
  /* no underline */
}

.account a:hover {
  color: white;
}

.account .shp-crt {
  padding-left: 1rem;
  font-size: 1.5rem;
}

.account .acctitm {
  padding-left: 2rem;
}

.navbar {
  background-color: #242424;
  height: 42px;
  font-weight: bold;
}

.navbar .nav-item {
  padding-left: 2rem;
}

.navbar .nav-link {
  color: #FFFFFF;
  width: 106px;
  text-align: center;
}

.navbar .nav-link:hover {
  color: #999999;
}

.navbar .nav-link.active {
  background-color: #F16535;
  height: 100%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.breaker {
  background-color: #F16535;
  height: 40px;
  width: 1177px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.shpbrkr {
  padding-top: 9px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
}

.midcontent {
  text-align: center;
}

.costumes {
  margin-bottom: 3rem;
}

.shpimgs {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  border: 0px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.shopbtn {
  background-color: #F16535;
  color: white;
  padding: 3px;
  margin-top: .5rem;
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  border: 0px;
  font-weight: 400;
}

.shopbtn:hover {
  background-color: white;
  color: #F16535;
}

.midhero {
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 1177px;
  height: 537.6px;
}

.accessmid {
  margin-top: 7rem;
}

.recent {
  margin-top: 5rem;
}

.recently {
  width: 150px;
  height: 200px;
}

.recently:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figcaption {
  margin-top: 8px;
  color: white;
}

.ftrhero {
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 1177px;
  height: 394px;
}

.ftrnav {
  color: white;
  background-color: transparent;
  height: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

.ftrcontent {
  margin-bottom: 2rem;
}

.orngbar {
  height: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  text-align: center;
  padding: 2px 16px;
  background-color: #F16535;
  color: white;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #181818;
}

.mcontent {
  text-align: center;
  color: white;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #F16535;
  color: white;
}

.mimages {
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.cstcap {
  text-align: center;
  margin-left: 2rem;
  margin-top: .7rem;
}

.mimages:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.cstfig {
  margin-top: .3rem;
  margin-right: 45%;
}

.dark-mode {
  background-color: white;
  color: #F16535;
}

.dark-mode .account {
  color: #F16535;
}

.dark-mode .account a {
  color: #F16535;
}

.dark-mode .account a:hover {
  color: #242424;
}

.dark-mode .search input {
  border: 2px solid white;
  background-color: #F16535;
}

.dark-mode .search input:focus {
  border: 2px solid #F16535;
}

.dark-mode .search .fa-search {
  color: white;
}

.dark-mode .ftrnav .nav-item .nav-link {
  color: #F16535;
  background-color: transparent;
}

.dark-mode .modal-header {
  background-color: #F16535;
  color: white;
}

.dark-mode .modal-body {
  background-color: white;
}

.dark-mode .mcontent {
  color: #242424;
}

.dark-mode .mimages {
  border: 1px solid #242424;
}
/*# sourceMappingURL=styles.css.map */